$dark-body-background: #00132c;
$dark-card-background: #022e3a;
$dark-main-font-color: #fff;
$dark-secondary-font-color: #697789;
$dark-accent-color: #00a280;
$dark-link-color: #00a280;
$dark-border-color: #cccccc;
